.header { 
    grid-area: header; 
}
.left { 
    grid-area: left; 
}
.center { 
    grid-area: center; 
}
.right { 
    grid-area: right; 
}
.footer { 
    grid-area: footer; 
}

.container {
    display: grid;
    grid-template-areas: 
    'header header header'
    'left center right'
    'footer footer footer';
    background-color: darkblue;
    padding: 10px;
}

.item {
    background-color: blue; 
    color: white;
    border: 3px solid black;
    padding: 20px;
    text-align: center;
}

ul {
    list-style: none;
}

li {
    padding: 10px;
    background: whitesmoke;
}

.menu li {
    display: block;
    float: left;
}

.left li {
    text-align: left;
}

a {
    color: blue;
    text-decoration: none;
}

p {
    text-align: left;
}

img {
    width: 100%;
}

@media all and (max-width: 700px) {
    .container {
        grid-template-areas: 
        'header header'
        'center center'
        'left right'
        'footer footer';
  }
} 

@media all and (max-width: 600px) {
    .container {
        grid-template-areas: 
        'header'
        'center'
        'left'
        'right'
        'footer';
  }
} 