.container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: darkblue;
    padding: 10px;
}

.item {
    background-color: blue; 
    color: white;
    border: 3px solid black;
    padding: 20px;
    text-align: center;
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 4;
}

@media all and (max-width: 700px) {
    .item {
      grid-column: 1 / 4;
    }
  }