.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: darkblue;
    padding: 10px;
}
.day {
    background-color: blue; 
    color: white;
    border: 3px solid black;
    padding: 20px;
    text-align: center;
}
.month-prev, .month-next {
    background-color: blueviolet; 
    color: white;
}
.weekdays {
    background-color: cadetblue; 
    color: white;
}