#parent {
  float: left;
  height: 150px;
  width: 150px;
  transform: perspective(150px) rotateY(30deg);
  background: red;
  margin: 25px; 
}

#child {
  float: left;
  height: 150px;
  width: 150px;
  transform: perspective(150px) rotateY(-30deg);
  background: blue;
}