#parent {
  float: left;
  height: 150px;
  width: 150px;
  transform: perspective(150px) rotateY(30deg);
  background: red;
  position: relative;
  left: 45px;
  margin: 25px; 
}

#parent2 {
  float: left;
  height: 150px;
  width: 150px;
  transform: perspective(150px) rotateY(-30deg);
  background: blue;
  position: relative;
  margin: 25px; 
}